.circleBorder {
  border: 4px solid #46d7b6;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: #46d7b6;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  align-items: center;
  justify-content: center;
}