.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 12px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: #E7ECF7

  &:hover {
    background-color: #E7ECF7;
    color: #000000
  }
}

.fillHorizontal {
  width: 100%;
}

.fillVertical {
  height: 100%;
}