.root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8px 12px;
  font-family: inherit;
  background-color: transparent;
  border: none;
  font-size: 16px;

  &:hover {
    background-color: #ededed;
  }
}

.fillHorizontal {
  width: 100%;
}

.fillVertical {
  height: 100%;
}