
.bgImage {
  //background-position: 0 100%;
  //background-repeat: no-repeat;
  background-size: initial;
  background: url("/public/harmony_bglogo_black.svg") no-repeat bottom right, linear-gradient(0deg, #0D0D0D, #0D0D0D), linear-gradient(0deg, rgba(33, 53, 75, 0.15), rgba(33, 53, 75, 0.15)), #111111;
  color: #f2f3f8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.sidebarContainer.sidebarContainer {
  min-width: 256px;
}

.rightContent.rightContent {
  width: 100%
}