.link {
  text-decoration none;
}

.item {
  flex-direction row
  align-items center
  padding 12px 12px
  cursor pointer
  position relative
  border-radius 4px

  &.selected {
    background: #f2f3f8;
  }

  &:hover {
    background: #f2f3f8;
  }
}
