.circleBorder {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  align-items: center;
  justify-content: center;
}

.circleCanceled {
  background-color: gray;
}

.circleConfirmed {
  background-color: #46d7b6;
}