@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}

.spinner {
	position absolute
	left 0;
	right 0;
	top 0;
	bottom 0;
	animation: spin 2.6s linear infinite;
	background-color transparent

	circle {
		//stroke: "#1d2b5e"
		background transparent
	}
}


.root {
	display flex
	align-content center
	align-items center
	justify-content center
	width 100%
	height 100%
	position relative
}

.content {
	padding 16px
}
