.common {
  height 1px
  width 60px
  background-color #dedede
}

.colorful {
  height 2px
  background rgb(0,173,232)
  background linear-gradient(90deg, rgba(0,173,232,1) 0%, rgba(0,232,162,1) 100%)
}

.fullwidth {
  width 100%
}